.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: auto;
    position: fixed;
}

.home {
    background-image: url(./assets/home.jpg);
    height: calc(700px - 38px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -48px;
    display: flex;
    flex-direction: column;
    min-height: calc(92vh - 50px);
}